body {
  background-color: #5cdb95;
  color: #379683;
  font-size: 35px;
}
.main-header {
  color: #edf5e1;
  text-align: center;
  margin: 50px;
  background-color: #05386b;
  border: 3px solid #379683;
}
span {
  font-weight: bold;
  color: #edf5e1;
  font-size: 35px;
  text-align: left;
}
