body {
  background-color: #5cdb95;
  color: #379683;
  font-size: 35px;
  font-family: "Ephesis", cursive;
  font-family: "Gemunu Libre", sans-serif;
}
.main-header {
  color: #edf5e1;
  text-align: center;
  margin: 50px;
  background-color: #05386b;
  border: 3px solid #379683;
}
span {
  font-weight: bold;
  color: #edf5e1;
  font-size: 60px;
  margin: 150px;
  position: absolute;
  top: 150px;
  left: -950;
  margin-top: 50px;
  margin-left: 1040px;
}
.body-1 {
  color: #edf5e1;
  border: 3px solid #379683;
  position: absolute;
  top: 233;
  left: -950;
  margin-top: 50px;
  margin-left: 1040px;
  height: 500px;
  width: 500px;
  background-color: #05386b;
}

.white2 {
  font-weight: bold;
  color: #edf5e1;
  font-size: 60px;
  margin: 150px;
  position: absolute;
  top: 150px;
  left: -333;
  margin-top: 50px;
  margin-left: 1040px;
}

.damn {
  color: #edf5e1;
  border: 3px solid #379683;
  position: absolute;
  top: 233;
  left: -333;
  margin-top: 50px;
  margin-left: 1040px;
  height: 500px;
  width: 500px;
  background-color: #05386b;
}
.lol {
  font-weight: bold;
  color: #edf5e1;
  font-size: 60px;
  margin: 150px;
  position: absolute;
  top: 150px;
  left: 281;
  margin-top: 50px;
  margin-left: 1040px;
}
.um {
  color: #edf5e1;
  border: 3px solid #379683;
  position: absolute;
  top: 233;
  left: 281;
  margin-top: 50px;
  margin-left: 1040px;
  height: 500px;
  width: 500px;
  background-color: #05386b;
}
.pic-1 {
  position: absolute;
  top: 355;
  left: 170;
  width: 350px;
  height: 350px;
}

.pic-2 {
  position: absolute;
  top: 355;
  left: 785;
  width: 350px;
  height: 350px;
}

.pic-3 {
  position: absolute;
  top: 355;
  left: 1400;
  width: 350px;
  height: 350px;
}
