body {
  background-color: #5cdb95;
  color: #379683;
  font-size: 35px;
  font-family: "Ephesis", cursive;
  font-family: "Gemunu Libre", sans-serif;
}
.main-header {
  color: #edf5e1;
  text-align: center;
  margin: 50px;
  background-color: #05386b;
  border: 3px solid #379683;
}
span {
  font-weight: bold;
  color: #edf5e1;
  font-size: 60px;
  margin: 150px;
}
.body-1 {
  color: #edf5e1;
  border: 3px solid #379683;
  position: absolute top 50px left 50px;
  margin-top: -10px;
  margin-left: 100px;
  height: 500px;
  width: 500px;
  background-color: #05386b;
}

.white2 {
  font-weight: bold;
  color: #edf5e1;
  font-size: 60px;
  margin: 150px;
  margin-top: -650px;
  text-align: center;
}

.body-2 {
  color: #edf5e1;
  border: 3px solid #379683;
  margin-top: 200px;
  margin-right: -200px;
  height: 500px;
  width: 500px;
  background-color: #05386b;
}
